body {
  font-family: 'Sniglet', sans-serif;
  font-family: 'Nanum Gothic', sans-serif;
}

h2{
  font-family: 'Sniglet', sans-serif;
}

.container {
  font-family: 'Sniglet', sans-serif;
}
/* nav bar logo */
.navbar-brand {
  max-width: 10em;
}

/* Entire nav bar */
.navbar {
  background-color: white; 
  margin-bottom:2em;
  align-content: center;
  font-family: 'Sniglet', sans-serif;
}

/* Nav bar buttons */
.btn-nav {
  margin: 0.2em;
}


/* The span thing when it's a small screen*/
.navbar-toggler {
  background-color: #CD2E3A;
  border: solid black;
}


/* nav bar buttons */
.nav-item a {
}

.nav-item .dropdown-toggle:hover {
  background-color: #9a1924;
  color: white;
}

.nav-item .dropdown-toggle:active {
  background-color: #9a1924;
  color: white;
}

.btn-new {
  background-color: #CD2E3A;
  color: white;
  margin-top: 0.3em;
  margin-right: -0.1em; /*controls distance to toggle*/
}

.btn-new:hover {
  background-color: #9a1924;
  color: white;
}

.btn-new:active {
  background-color: #9a1924;
  color: white;
}

.btn-new a {
  text-decoration: none;
  color: white;
}

/*space for dropdown navs*/
.dropdown .dropdown-toggle {
  margin-right: 0.3em;
}

/* gives nav buttons extra space for non-drop downs*/
.nav-item .extra {
  margin-right: 0.3em;
}

/* nav drop down colours */
.nav-item .dropdown-menu {
  background-color: white;
  color: black;
}

.nav-item .dropdown-item:hover {
  background-color: #9a1924;
  color: white;
}



/* header css */
header {
  text-align: center;
  font-size: 35px;
  color: black;
  margin-top: 2em;
  margin-bottom: 1em;
  font-family: 'Sniglet', sans-serif;
}


/* This is in the footer */

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: white;
}

.copyright {
  font-size: 50%;
  color: black;
  text-align: center;
}


/* Front page story  boxes */
.storylist {
  border-radius: 1em;
  padding: 1%;
  text-align: center;
  vertical-align: middle;
  display: inline-block;
  margin:0 auto;
  margin-bottom: 20px;
  width: 400px;
  border: solid rgb(2, 50, 107);
  color: #0047A0;
  
}

.storylist ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.storylist li:hover {
  background-color: aliceblue;
  border-radius: 1em;
  padding-right: 0.5em;
  padding-left: 0.5em;
}


.storylist a:link {
  text-decoration: none;
  color:#CD2E3A;
}

.storylist a:visited {
  color: #0047A0;
}

/* This content hides the large menu option on small screens!!*/
@media only screen and (max-width: 600px) {
  .hide-on-mobile-only {
  display: none !important;
  }
  }

/* Content for mobile front page display */
.story-list-small {
  text-align: center;
  align-content: center;
  vertical-align: center;
}

.story-list-small a:hover {
  text-decoration-style: none;
  text-decoration: none;
  background-color: #CD2E3A;
  color: white;
}
/* small screen buttons */
.story-list-small .btn-dif {
  border-radius: 1em;
  padding: 1%;
  text-align: center;
  vertical-align: middle;
  margin-bottom: 2px;
  border: solid #CD2E3A;
  color: #CD2E3A;
}

.story-list-small .btn-dif-drop {
  border-radius: 1em;
  padding: 1%;
  text-align: center;
  vertical-align: middle;
  margin-bottom: 20px;
  border: solid #CD2E3A;
  color: #CD2E3A;
}

.story-list-small .dropdown-menu {
  text-align: center;
  align-content: center;
  vertical-align: center;
  margin-left: 50px;
  margin-right: 50px;
}

.story-list-small .dropdown-item {
  font-size: large;
  display: inline;
  text-align: center;
  align-content: center;
  vertical-align: center;
}

.story-list-small .dropdown-item:hover {
  background-color: #CD2E3A;
  color: white;
}

/* front page title */
.front-title {
  text-align: center;
  color: #0047A0;
}

.front-title h4 {
  color: #CD2E3A;
}

/* Front page etc  boxes */
.front-boxes {
  border-radius: 1em;
  padding: 1%;
  text-align: center;
  vertical-align: middle;
  display: inline-block;
  margin:0 auto;
  margin-bottom: 20px;
  border: solid #0047A0;
  color: #0047A0;
}

.front-boxes:hover {
  background-color: rgba(0, 72, 160, 0.425);
}

.front-boxes-container a:link {
  text-decoration: none;
  color: #0047A0;
}

.front-boxes-container a:visited {
  text-decoration: none;
  color: #0047A0;
}



.front-boxes-container a:hover {
  text-decoration: none;
  color: white;
}


/* Styling for the story pages */
.booktitle {
  text-align: center;
  color: #0047A0;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: aliceblue;
  text-shadow: 3px 3px 3px  #ffffff;
}

.book-container {
  margin-bottom: -20px;
}

/* This makes the title sit in the right place on smaller screens*/
@media only screen and (max-width: 600px) {
 .book-container {
  border: solid aliceblue;
  background-color: aliceblue;
 }

 .booktitle {
   padding-top:0.5em;
   margin-top: 10px;
 }
}

/* Control the title image */
.titleimg {
  max-width: 10em;
}

.k-story {
  text-align: center;
  padding: 1.5em;
  font-family: 'Nanum Gothic', sans-serif; 
}


/* This controls the tool tip stuff*/
#hoverword {
  color: #0047A0;
  font-style: normal;
  font-weight: normal;
}


/* This is for the English */
eng {
  color: #CD2E3A;
}

/* Grammar tip section */
.grammar-tip {
  background-color: aliceblue;
  max-width: 400px;
  text-align: center;
  border-radius: 0.5em;
  padding-top: 0.2em;
  padding-bottom: 0.5em;  
  margin-bottom: 1em;
  font-family: 'Sniglet', sans-serif;  
}

.grammar-tip h4 {
  font-weight: bold;
  text-decoration-line: underline overline;
}

.grammar-tip g-tip {
  color: #0047A0;
  text-decoration-line: underline;
  text-decoration-style: wavy;
}

.grammar-tip em {
  color: #CD2E3A;
}

.grammar-tip a{
  background-color: #0047A0;
  color: white;
  border-radius: 0.2em;
  padding: 0.3em;
  text-decoration: none;
}

.grammar-tip a:hover {
  background-color: #CD2E3A;
  color: white;
 
}


/* This is for the scroll button */
#topBtn {
  display: none; 
  position: fixed; 
  bottom: 20px; 
  right: 20px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; 
  outline: none; 
  background-color: black;
  color: white;
  opacity: 0.4;
  cursor: pointer; 
  padding: 10px;
  border-radius: 1em;
}

#topBtn:hover {
  background-color: #555; 
}

/* These are for the language show/hide buttons */
.reveals {
  position:fixed;
  bottom: 2em;
  text-align:center;
  justify-content: center;
  vertical-align: middle;
  align-content: center;
  right: 50px;
  left: 50px;
  padding: 0.3em;
  margin: 0.2em;
  font-family: 'Sniglet', sans-serif;
}

.float-show{
	width:7em;
  text-align:center;
  padding: 0.3em;
  font-family: 'Sniglet', sans-serif;
}

.float-hide{
	width:7em;
  text-align:center;
  padding: 0.3em;
  font-family: 'Sniglet', sans-serif;
}

/*Chapter buttons */
.btn-info {
  margin-bottom: 1em;
  font-family: 'Sniglet', sans-serif;
}

.btn-info a {
  color: white;
}


/* main section */
#main {
  margin-top: 5em;
}

.share-section {
  padding-top: 2em;
  padding-bottom: 5em;
  text-align: center;
  font-family: 'Sniglet', sans-serif;
}

/* for about page */
.about-text {
  border: solid green;
  justify-content: center;
  font-size: 22px;
  display: inline-block;
  text-align: center;
}


/* for submit page */
.submit-form {
  justify-content: center;
}

/* Functions for the floating chapters at the top of the page */
.chap-nav{
  position:fixed;
  top: 60px;
  text-align:center;
  justify-content: center;
  vertical-align: middle;
  align-content: center;
  right: 50px;
  left: 50px;
  padding: 0.1em;
  font-family: 'Sniglet', sans-serif;
}

/* This button hides content on tablets and desktop 
Used for the chap nav part!! */
@media only screen and (min-width: 601px) {
  .hide-on-tablet-and-desktop {
  display: none !important;
  }
}


/* CSS for question section and buttons */
.question-box {
  display: inline-block;
  background-color: aliceblue;
  max-width: 400px;
  text-align: center;
  border-radius: 0.5em;
  padding-top: 0.2em;
  margin-bottom: 1em;
}

.question-box h5 {
  text-decoration-line: underline overline;
}

.question {
  margin-bottom: 0px;
}

.quest-cont {
  display: block;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-align: left;
  padding-left: 30px;
}

/* Hide the browser's default radio button */
.quest-cont input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.answer {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.quest-cont:hover input ~ .answer {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.quest-cont input:checked ~ .answer {
  background-color: #0047A0;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.answer:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.quest-cont input:checked ~ .answer:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.quest-cont .answer:after {
 	top: 9px;
	left: 9px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: white;
}

/* Quiz submit button */
.quizSubmit {
  border-radius: 0.2em;
}

/* for the text of the user score */
.quizScore {
  margin-top: 5px;
}

/* Resources page */
.resources-box {
  border-radius: 25px;
  padding: 1%;
  text-align: center;
  vertical-align: middle;
  display: inline-block;
  margin:0 auto;
  margin-bottom: 20px;
  border: solid #0047A0;
}

.resources-box a{
  text-decoration: none;
  color: #0047A0;
  font-size: large;
}

.resources-box a:hover {
  color:#CD2E3A;
}

.resources-box a:focus {
  color:#CD2E3A
}

.resources-box li {
  list-style: none;
  text-align: center;
  color: #0047A0;
}

.resources-box ul {
  padding: 0;
}

.resources-box h2 {
  font-style: italic;
  color: #CD2E3A;
}

.resources-box h4 {
  color: #CD2E3A;
}

/* for main pages of each level */

.main-story .storylist li a{
  color:  #0047A0;
}

/*control the visibilty of the buy button */
.buy-button {
  display: none;
}

/* controls the imgs for each chapter */

.img-box {
  margin-bottom: 0.5em;
}
.book-img {
  width: 200px;
}

/* for the photo credits */
.photo-credit {
  font-size: x-small;
}

.photo-credit a {
  text-decoration: none;
}

/* for story credits */
.story-credit {
  margin-top: 1em;
}

.story-credit a {
  text-decoration: none;
}